
# Python
__pycache__/
*.py[cod]
*.sqlite3
.venv/
venv/
env/

# Environment variables
.env

# Node
node_modules/
dist/

# IDEs
.vscode/
.idea/

# Logs
logs/
*.log

# Tests
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db

# Database & Model weights
*.db
*.pt
*.task

# Temp folders
tmp_pytest/